---
layout: default
title: Home
permalink: /
page_name: home
include_footer: true
---

<section class="home-page page-margin">
  {% include notice-bar.html %}
  <div class="container">
    <!-- Primary -->
    <h1 class="text-center mb-0 mt-5">Grades</h1>
    <p class="total-videos text-center text-muted">( <strong>2593</strong> Videos)</p>
    <div class="row mt-4">
      {% for grade_hash in site.data.grades %}
        {% assign grade = grade_hash[1] %}
        <div class="col-md-3 col-6 mb-4">
          {% include grade-card.html grade=grade %}
        </div>
      {% endfor %}
    </div>

    <h1 class="text-center mb-0 mt-5">Courses</h1>
    <p class="total-videos text-center text-muted">( <strong>212</strong> Videos)</p>
    <div class="row mt-4">
      {% for course in site.data.courses %}
        <div class="col-md-3 col-6 mb-4">
          {% include grade-card.html grade=course %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>
