<footer class="footer-section bg-dark py-5 {% if page.permalink != '/' %}row{% endif %} d-print-none">
  <div class="container">
    <div class="row">
      <div class="col-6 col-sm-4 text-xs-center order-sm-2">
        <div class="footer-logo text-center">
          <p class="mb-1">
            <a class="footer-text" href="/">{{ site.title }}</a>
          </p>
          <p class="footer-tagline text-center">
            {{ site.data.siteinfo.tagline }}
          </p>
        </div>
      </div>
      <div class="col-6 col-sm-4 text-right text-xs-center order-sm-3">
        {% for contacts_hash in site.data.siteinfo.contacts %}
          {% assign contact = contacts_hash[1] %}
          <a href="{{ contact.url }}" class="mr-2" target="_blank" alt="{{ contact.label }}">
            <i class="{{ contact.class }}"></i>
          </a>
        {% endfor %}
      </div>
      <div class="col-12 col-sm-4 text-center py-2 order-sm-2">
        <small class="text-white">
          &copy; {{ site.year }} {{ site.title }}. All rights reserved.
          Developed by <a href="{{ site.author_url }}">{{ site.author }}.</a>
        </small>
      </div>
    </div>
  </div>
</footer>
