<footer class="footer-section bg-dark py-5 {% if page.layout != 'non-course' and page.layout != 'default' %}row{% endif %} d-print-none">
  <div class="container">
    <div class="row">
      <div class="col-6 col-sm-4 text-xs-center order-sm-2">
        <div class="footer-logo text-center">
          <p class="mb-1">
            <a class="footer-text" href="/">{{ site.title }}</a>
          </p>
        </div>
      </div>
      <div class="col-6 col-sm-4 text-right text-xs-center order-sm-3 social-links">
        {% for link in site.links %}
          <a href="{{ link.url }}" target="_blank" title="{{ link.title }}" class="mr-3">
            <i class="{{ link.icon }}"></i>
          </a>
        {% endfor %}
      </div>
      <div class="col-12 col-sm-4 text-center py-2 order-sm-2">
        <small class="text-white">
          &copy; {{ site.year }} {{ site.title }}. All rights reserved.
        </small>
      </div>
    </div>
  </div>
</footer>
