<div class="card grade-card rounded-0">
  <div class="card-header">
    <h2 class="card-title">{{ include.grade.title }}</h2>
  </div>
  <div class="card-footer">
    <div class="actions">
      <a href="{{ include.grade.url }}" class="float-left rounded-0 fa-lg text-primary" title="Learn">
        <i class="fas fa-book-reader"></i>
      </a>
      <a href="#" class="float-right rounded-0 fa-lg text-secondary" title="Share">
        <i class="fas fa-share"></i>
      </a>
    </div>
  </div>
</div>
