<div class="dropdown grades-menu">
  <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    All Grades
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/grade1/">Grade 1</a>
    <a class="dropdown-item" href="/grade2/">Grade 2</a>
    <a class="dropdown-item" href="/grade3/">Grade 3</a>
    <a class="dropdown-item" href="/grade4/">Grade 4</a>
    <a class="dropdown-item" href="/grade5/">Grade 5</a>
    <a class="dropdown-item" href="/grade6/">Grade 6</a>
    <a class="dropdown-item" href="/grade7/">Grade 7</a>
    <a class="dropdown-item" href="/grade8/">Grade 8</a>
    <a class="dropdown-item" href="/grade9/">Grade 9</a>
    <a class="dropdown-item" href="/grade10/">Grade 10</a>
  </div>
</div>
