<section class="learn-section section-padding">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading">Learn</h2>
    </div>
    <div class="d-flex justify-content-center">
      <div class="col-md-4">
        <div class="card text-center">
          <img class="card-img-top ruby-img" src="/assets/img/courses/ruby.png" alt="Ruby">
          <div class="card-body">
            <h5 class="card-title">Ruby Language</h5>
            <p class="card-text">
              It is one of the popular general purpose object-oriented language.
              It is widely used Web Development. The key features of Ruby focus
              on developer "happiness" and ease of use.
            </p>
          </div>
        </div>
      </div>
    </div>
   </div>
</section>
