{% capture image_path %}{% if page.thumbnail_path %}{{ page.thumbnail_path }}{% else %}{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.thumbnail_path }}{% endif %}{% endcapture %}
{% capture image_url %}{% include image-url.html path=image_path %}{% endcapture %}
{% capture description %}{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | strip }}{% else %}{{ site.description | strip_html | strip_newlines | strip }}{% endif %}{% endcapture %}

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="Nepal Online School" />
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:url" content="{% include canonical-url.html %}" />
<meta name="twitter:description" content="'{{ description }}'" />
<meta name="twitter:image" content="{{ image_url }}" />

<meta property="og:title" content="'{{ page.title }}''" />
<meta property="og:url" content="{% include canonical-url.html %}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="article:author" content="https://www.facebook.com/NepalOnlineSchool/" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:image" content="{{ image_url }}" />
