<!-- Setting Grade name-->
{% assign grade = page.page_name %}

<div id="td-sidebar-menu" class="td-sidebar__inner">
  <form class="td-sidebar__search d-flex align-items-center">
    <button class="btn btn-primary btn-block py-3 text-white td-sidebar__toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse" data-target="#td-section-nav" aria-controls="td-docs-nav" aria-expanded="false" aria-label="Toggle section navigation">
      <i class="fas fa-bars mr-3"></i>SHOW ALL SUBJECTS
    </button>
  </form>

  <nav class="collapse td-sidebar-nav pt-5 mx-auto" id="td-section-nav">
    <ul class="td-sidebar-nav__section pr-md-3">
      <li class="td-sidebar-nav__section-title d-none d-sm-block">
        <a  href="{{ site.baseurl }}{{ site.data.grades[grade].url }}"
          class="align-left pl-0 pr-2 active td-sidebar-link td-sidebar-link__section">Subjects</a>
      </li>

      {% assign grade = page.page_name %}
      {% for subject in site.data.grades[grade].subjects %}
      <ul>
        <li class="collapse show" id="{{ section.title | slugify }}">
          <ul class="td-sidebar-nav__section pr-md-3">
            <li class="td-sidebar-nav__section-title">
              <a href="{{ site.baseurl }}/{{ subject.url }}"
                class="align-left pl-0 pr-2 td-sidebar-link td-sidebar-link__section">{{ subject.title }}</a>
            </li>
          </ul>
        </li>
      </ul>
      {% endfor %}
    </ul>
  </nav>
</div>
