<section class="static-banner bg-dark py-4">
  <div class="container">
    <div class="row wow fadeInUp mt-3">
      <img src="/assets/img/ruby.png" class="lang-logo" alt="loading ..." />
    </div>
    <div class="row wow fadeInUp mt-3">
      <div class="text-center m-auto">
        <h1 class="caption">Welcome to <span class="sm-block">{{ site.title }}</span></h1>
        <h3 class="tagline">
          {{ site.data.siteinfo.tagline }}
        </h3>
        <p class="text-white">
          ( Self-learning is the best learning approach )
        </p>
      </div>
    </div>
  </div>
</section>

<section class="welcome-message py-5">
  <div class="container">
    <div class="row wow fadeInUp">
      <div class="col-md-12">
        <div class="text-center m-auto">
          <h1 class="main-text">
            Begin your <span class="site-color lang-name sm-block">Ruby</span> Journey
            <br>with <span class="guru-name site-color sm-block">RubyGuru</span>
          </h1>
        </div>
      </div>
      <div class="col-md-12">
        <div class="encourage-text text-center m-auto">
          <p>
            Ruby is created by
            <a href="https://en.wikipedia.org/wiki/Yukihiro_Matsumoto" target="_blank">Yukihiro Matsumoto</a>,
            or simply <b>Matz</b>.<br>
            Matz wanted to create a language which is programmer friendly<br>
            and programmer should feel fun while programming.<br>
            Hence, he created <b>Ruby</b>.<br><br>

            Click the button below to can discover the fun while programming.
          </p>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a href="/toc" class="btn btn-primary px-6 py-3 active mb-3" role="button" aria-pressed="true">
        Let's Begin the Ruby Journey
      </a>
    </div>
  </div>
</section>