.course {
  .header-title {
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
  }
  .header-description {
    color: #666;
    margin: 0.5rem 0;
  }
  .video-nav-actions .btn {
    font-size: 16px;
  }
  hr {
    margin: 0.5rem 0;
  }
  .contributor-badge {
    font-size: 16px;
    padding: .35rem 1rem !important;
    line-height: 1.5;
    background: #ddd;
    margin-left: 5rem;

    span {
      color: #333 !important;
      font-weight: bold;
    }
  }
  #TableOfContents {
    li.active {
      background-color: #bbb !important;
      color: #333 !important;
    }
    li:hover {
      background-color: #ddd !important;
      color: #333 !important;
      cursor: pointer;
    }
    li:nth-child(odd) { 
      background: #FCF3CF;
      color: #111; 
    }
  }

}