.fa-twitter {
  color: #38A1F3;
}
.fa-youtube {
  color: red;
}
.fa-facebook-f {
  color: #4267b2;
}
.fa-github {
  color: #ccc;
}
.fa-envelope {
  color: #ddd;
}
.fa-linkedin-in {
  color: #0077B5;
}

// footer css
.footer-section {
  background: #404044;

  .footer-text {
    font-size: 25px;
    color: #fff;
    line-height: 25px;
    font-weight: 600;
    font-family: 'Jacques Francois Shadow', cursive;
    text-decoration: none;
  }
  .footer-tagline {
    color: yellow;
    font-size: 13px;
    font-style: italic;
    font-family: 'Gotu', sans-serif;
  }
  .footer-social {
    a {
      font-size: 20px;
    }
  }
}

.copyright {
  background: #333;
  color: #fff;
  padding: 5px 0;

  h4 {
    margin-bottom: 0;
    font-size: 11px;

    a {
      text-decoration: none;
      color: yellow;
    }
  }
}
