.page-margin {
  margin-top: 100px;
}
.section-padding {
  padding: 80px 0px;
}

// Header SCSS
.navbar {
  background: #ccc !important;

  .navbar-brand .logo {
    height: 50px;

    img {
      height: 100%;
    }
  }
}
.navbar-nav .nav-item .nav-link:hover {
  font-weight: 600;
}
.navbar-nav .nav-item.active .nav-link {
  font-weight: 800;
}

.footer-section {
  .social-links {
    a {
      font-size: 20px;
    }
  }
}

// Grade Card
.grade-card {
  .card-header {
    background: rgb(187,79,217);
    background: linear-gradient(18deg, rgba(187,79,217,1) 0%, rgba(79,53,141,1) 100%);

    h2 {
      font-size: 2rem;
      color: #fff;
      margin-bottom: 0;
      padding: 1rem;
    }
  }
}
