.home-section {
  margin-top: 64px;
}

.section-padding {
  padding: 80px 0px;
}

// Header SCSS
.navbar {
  background: #ccc !important;

  .navbar-brand .logo {
    height: 50px;

    img {
      height: 100%;
    }
  }
}
.navbar-nav .nav-item .nav-link:hover {
  font-weight: 600;
}
.navbar-nav .nav-item.active .nav-link {
  font-weight: 800;
}

.site-color {
  color: $site-color;
}

.lang-logo {
  height: 165px;
  width: 150x;
  margin: auto;
}

#TableOfContents #TOC {
  a.md-nav__link {
    color: #333;
    font-size: 18px;
  }
  a.md-nav__link.nav-h2 {
    color: #666;
    font-size: 16px;
  }
  a.md-nav__link.nav-h3 {
    color: #888;
    font-size: 14px;
    margin-left: 10px;
  }
}

.td-content {
  p {
    color: #666;
  }
  blockquote p {
    color: #999;
    font-weight: 400;
    font-size: 16px;
  }
}

.static-banner {
  background-color: #eee;

  .caption {
    font-family: 'Jacques Francois Shadow', cursive;
    color: #fff;
  }
  .tagline {
    color: yellow;
    font-size: 15px;
    font-style: italic;
    font-family: 'Gotu', sans-serif;
  }
}

.welcome-message {
  .main-text {
    font-size: 2.5em;
    font-weight: 600;
  }
  .lang-name {
    font-weight: 600;
  }
  .guru-name {
    font-weight: 800;
    // font-size: 2.7em;
  }
}

.encourage-text {
  p {
    font-size: 18px;
  }
}

.btn.active:focus {
  box-shadow: none !important;
}

.td-content>h2:not(:first-child) {
  margin-top: 2rem;
}

.section-heading {
  font-size: 25px;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-weight: 600;
}

.home-section {
}

// footer css
.footer-section {
  background: #595959;

  .footer-text {
    font-size: 30px;
    color: #fff;
    line-height: 25px;
    font-weight: 600;
    font-family: 'Jacques Francois Shadow', cursive;
    text-decoration: none;
  }
  .footer-tagline {
    color: yellow;
    font-size: 13px;
    font-style: italic;
    font-family: 'Gotu', sans-serif;
  }
  .footer-social {
    a {
      font-size: 20px;
    }
  }
}

.notice-section {
  background-color: $site-color;
  color: #ddd;
}

.copyright {
  background: #333;
  color: #fff;
  padding: 5px 0;

  h4 {
    margin-bottom: 0;
    font-size: 11px;

    a {
      text-decoration: none;
      color: yellow;
    }
  }
}

.block-to-contact {
  a {
    font-size: 1.5em;
    margin-top: 15px;
  }
  .fab {
    font-size: 1.2em;
  }
}


// Contact
.contact-section {
  margin-top: 65px;
}
.contact-section, .subscribe-section {
  .container {
    width: 60%;
  }

  .contact-info {
    color: #666;
    // border-radius: 0.5rem;

    h2 {
      font-size: 1.5em;
    }

    .fas, .fab {
      font-size: 2em;
    }
  }
  .form-control {
    font-size: 13px;
    border-radius: 0;
  }
}
// Subscribe
.subscribe-section {
  background: #888;

  .contact-info {
    h2 {
      margin-top: 2em;
      color: #fff;
    }
  }

  #mc_embed_signup {
    background: #888;

    .mc-field-group {
      width: 100%;
    }

    input {
      border-radius: 0;
    }

    form {
      padding: 0;
    }

    #mce-success-response {
      color: #fff;
    }
    #mce-error-response {
      color: darkred;

      a {
        color: #fff;
      }
    }

    div#mce-responses {
      padding: 0;
      margin: 0;
    }

    div.response {
      margin: 0 0 1em 0;
    }

    .button {
      margin-bottom: 0;
    }

    .indicates-required, label {
      color: #fff;
      font-size: 13px;
      font-weight: 300;
    }
  }
}
