@media (max-width: 992px) {
}

@media (min-width: 1200px) {
  .px-xl-6 {
    padding-left: 5em !important;
    padding-right: 5em !important;
  }
}

@media (min-width: 768px) {
}

@media (max-width: 768px) {
  .banner-section {
    background: url($image_base_url + "/img/bg-md.jpg") no-repeat;
    height: 400px;
  }
  .navbar-nav {
    margin-left: 0;

    .nav-item .nav-link {
      text-align: center;
    }
  }
  .navbar-brand {
    font-size: 35px;
    margin-left: 0.7em !important;
  }
}

@media (max-width: 500px) {
  .navbar-brand {
    font-size: 35px;
    margin-left: 0.7em !important;
  }

  .footer-section {
    .footer-text {
      font-size: 25px;
    }
  }

  .elevator-pitch {
    .container {
      width: 100%;
    }

    .pitch-text {
      padding: 20px;

      .quote-text {
        font-size: 18px;
      }

      .quote {
        font-size: 12px;
      }
    }
  }
  .contact-section {
    margin-top: 0;
  }
  .contact-section, .subscribe-section {
    .container {
      width: 95%;
    }
  }
  .subscribe-section .contact-info h2 {
    margin-top: 0;
  }

  h2 {
    font-size: 1.5em;
  }

  .td-outer {
    padding-top: 5rem;
  }
  #td-sidebar-menu .td-sidebar-nav {
    padding-top: 0!important;
    text-align: center;
    background-color: #ddd;

    .td-sidebar-nav__section {
      padding: 1rem 0;
    }
  }
}

@media(max-width: 360px) {
}
