@media (max-width: 992px) {
}

@media (min-width: 1200px) {
  .px-xl-6 {
    padding-left: 5em !important;
    padding-right: 5em !important;
  }
}

@media (min-width: 768px) {
}

@media (max-width: 768px) {
  .navbar-nav {
    margin-left: 0;

    .nav-item .nav-link {
      text-align: center;
    }
  }
  .navbar-brand {
    font-size: 35px;
    margin-left: 0.7em !important;
  }
  .course {
    .contributor-badge {
      margin-left: 0;
      display: block;
      margin-top: 0.5rem;
    }
  }
}

@media (max-width: 500px) {
  .navbar-brand {
    font-size: 35px;
    margin-left: 0.7em !important;
  }

  .footer-section {
    .footer-text {
      font-size: 25px;
    }
    .social-links a {
      font-size: 17px;
      margin-right: 0.5rem !important;
    }
  }

  h2 {
    font-size: 1.5em;
  }

  .td-outer {
    padding-top: 5rem;
  }

  .grade-card .card-header h2 {
    font-size: 1.2rem;
    padding: 0.3rem;
    text-align: center;
  }

  #td-sidebar-menu .td-sidebar-nav {
    padding-top: 0!important;
    text-align: center;
    background-color: #ddd;

    .td-sidebar-nav__section {
      padding: 0.5rem 0;
    }
  }
  .td-sidebar {
    padding-bottom: 0;
  }
}

@media(max-width: 360px) {
}
