
.util-note {
  .icon .icon-note::before {
    content: "\f05a";
    color: #19407c;
  }

  .icon .icon-important::before {
    content: "\f06a";
    color: #bf0000;
  }

  .icon .icon-warning::before {
    content: "\f071";
    color: #bf6900;
  }

  .icon .icon-tip::before {
    content: "\f0eb";
    text-shadow: 1px 1px 2px rgba(155,155,0,.8);
    color: #111;
  }

  .icon .icon-caution::before {
    content: "\f06d";
    color: #bf3400;
  }

  .icon [class^="fa icon-"] {
    font-size: 2.5em;
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);
    cursor: default;
  }

  table td.icon {
    text-align: center;
    width: 80px;
  }

  table td.content {
    padding-left: 1.125em;
    padding-right: 1.25em;
    border-left: 1px solid #ddddd8;
    color: rgba(0,0,0,.6);
    font-size: 1.0625rem;
    font-style: italic;

    a {
      color: #333;
    }
  }
}
.util-quote {
  margin: 0 1em 1.5em 1.5em;

  blockquote {
    font-size: 1.0625rem;
    margin: 0;
    padding: 0;
    border: 0;
    color: rgba(0,0,0,0.9);
    font-size: 1.15rem;
    line-height: 1.75;
    word-spacing: 0.1em;
    letter-spacing: 0;
    font-style: italic;

    &:before {
      content: "\201c";
      float: left;
      font-size: 2.75em;
      font-weight: bold;
      line-height: 0.6em;
      margin-left: -0.6em;
      color: #7a2717;
      text-shadow: 0 1px 2px rgba(0,0,0,0.1);
    }
  }

  .attribution {
    font-size: .9375em;
    line-height: 1.45;
    font-style: italic;
    text-align: right;
    margin-right: 20px;

    a {
      color: #777;
    }
  }
}
