

/* Custom SCSS */
$color1: #fff;
$color2: #222a75;
$color3: #0f2dff;
$color4: red;
$site-color: #6d161e;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

.fa-twitter {
  color: #38A1F3;
}
.fa-youtube {
  color: red;
}
.fa-facebook-f {
  color: #4267b2;
}
.fa-github {
  color: #ccc;
}
.fa-envelope {
  color: #ddd;
}
.fa-linkedin-in {
  color: #0077B5;
}

.p-6 {
  padding: 4em;
}
.px-6 {
  padding: 0 4em;
}
.py-6 {
  padding: 4em 0;
}
.pt-6 {
  padding-top: 4em;
}
.pb-6 {
  padding-bottom: 4em;
}
.p-7 {
  padding: 5em;
}
.px-7 {
  padding: 0 5em;
}
.px-8 {
  padding: 0 6em;
}
.px-9 {
  padding: 0 7em;
}
.py-7 {
  padding: 5em 0;
}
.pt-7 {
  padding-top: 5em;
}
.pb-7 {
  padding-bottom: 5em;
}
.mt-6 {
  margin-top: 5em;
}
.text-xs-center {
  text-align: center;
}

#youtubeVideoModal, #facebookVideoModal {
  top: 5%;

  .modal-content {
    background-color: transparent;
    border: none;

    .modal-header {
      border-bottom: none;
      padding: 0 1em;

      .close {
        color: #fff;
        padding: 0 0.5em;
        font-size: 40px;
      }
    }
  }
}

@import "site";
@import "home";
@import "util";
@import "course";
@import "responsive";
