---
layout: course
---

<h2>
  Welcome to {{ page.title }} learning content
</h2>

{% include util/note.html
    note="All the videos are in Nepali."
%}

<!-- Setting Grade name-->
{% assign grade = page.page_name %}
{% if grade == "courses" %}
  {% assign items = site.data.courses %}
{% else %}
  {% assign items = site.data.grades[grade].subjects %}
{% endif %}

{% if items.size > 0 %}
  <div class="mt-5">
    <h2>Subjects</h2>
  </div>
  <hr class="panel-line mt-4 mb-5">
  <div class="card-columns">
    {% for subject in items %}
      <a href="{{ site.baseurl }}/{{ subject.url }}">
        <div class="card subject-card rounded-0">
          <div class="card-header">
            <h2 class="card-title">{{ subject.title }}</h2>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
{% endif %}
